.main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 20px 32px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
}

.active {
  color: #000000;
  background: #ffffff;
}
