.wrap {
  position: sticky;
  top: 0;
  background: #010101;
  z-index: 5;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 0 auto;
    max-width: 1180px;
    background: #010101;
    .links {
      display: flex;
      gap: 20px;
    }
    .link {
      cursor: pointer;
      padding-bottom: 1px;
    }
    .link:hover {
      padding-bottom: 0;
      border-bottom: 1px solid #ffffff;
    }
    .active {
      border-bottom: 1px solid #ffffff;
    }
  }
}
