.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .row,
  .row__center {
    .slide {
      border-radius: 24px;
      width: 180px;
      height: 180px;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
  }
  .rowCenter {
    width: 1380px;
    transform: translateX(-90px);
  }
}
